.row
  .span4
    %a.btn.prev-question{href: "#big-reveal", data:{slide:"prev"}, style: "display:none"}
      %i.icon-hand-left
      Previous
    %a.btn.btn-primary.next-question{href: "#big-reveal", data:{slide:"next"}}
      Next
      %i.icon-hand-right
.row
  #big-reveal.carousel.slide
    .carousel-inner
      - @quiz.quiz_questions.each_with_index do |qq, idx|
        %div{class: "item #{idx == 0 ? 'active' : ''}"}
          = render :partial=>"reveal_question", :locals=>{:qq=>qq, }