<div id="AnsweredCrashesBox">
	
</div>
<div id="CurrentCrashBox">
	<ul>
		<% Quiz.active.each do |q| %>
		<%= content_tag(:li, link_to(q.name, quizzes_path(q)), :class=>"quiz_#{q.id}") %>
		<% end %>
	</ul>
</div>
<div id="OwnerCrashBox">
    <% if owns_quizzes?(current_user) %>
		<ul>
			<% current_user.owned_quizzes.each do |q|%>
			<%= content_tag(:li, link_to(q.name, quizzes_path(q))) %>
		    <% end %>
 		</ul>
    <% else %>
 <h4 class="none_found">None</h4>
    <% end%>
</div>