// Here is where you can define your constants for your application and to configure the blueprint framework.
// Feel free to delete these if you want keep the defaults:

$blueprint-grid-columns: 24;
$blueprint-container-size: 800px;
$blueprint-grid-margin: 10px;
$font-color             : #333;

// Use this to calculate the width based on the total width.
// Or you can set $blueprint-grid-width to a fixed value and unset $blueprint-container-size -- it will be calculated for you.
$blueprint-grid-width: ($blueprint-container-size + $blueprint-grid-margin) / $blueprint-grid-columns - $blueprint-grid-margin;

@import "compass/reset";
@import "compass/utilities";
@import "blueprint";
@import "compass/css3/box";
@import "compass/css3/box-shadow";
@import "compass/utilities/lists/inline-list";


$correct-color : green;
$incorrect-color : #A00;

header {
    @include column($blueprint-grid-columns);
}
footer {
	text-align:center;
    @include column($blueprint-grid-columns);
}
footer ul {
	@include inline-list;
}

.question_text {
    $question-columns: ceil(2 * $blueprint-grid-columns / 3);
    @include column($question-columns); 
}
.answer_box    {
    $answer-columns: floor($blueprint-grid-columns / 3);
    @include column($answer-columns, true); 
}
.quiz_list_box {
	@include push(2);
	@include min-height(100px);
	@include display-box;
	@include box-shadow;
    @include prepend-top(1em);
	@include column(12,true);
}
.quiz_list_box h2 {
	@include prepend(1);
	background:$blueprint_background_color;
}

.content {
  @include prepend(2);
  @include column($blueprint-grid-columns - 2, true);
  @include last;
  @include append(2);
}

.user_login {
    @include column(10, false);
}
.user_links {
    @include prepend-top(10em);
    @include column(6, true);
}
.icon_link{
	height:18px;
}
.question_reveal {
	@include display-box;
	@include column(2*$blueprint-grid-columns/3);
	@include box-shadow;
	display:none;
}
.social-icons, .inline-list {@include inline-list;}
textarea#quiz_description { height:100px;}
select.correct_answer {
	@include column(3);
}
table#GradeAnswers .correct {
	background-color: $correct-color;
}
table#GradeAnswers .incorrect {
	background-color: $incorrect-color;
}
#AboutThisCrash, #QuizMetaBox {
	@include display-box;
	@include column($blueprint-grid-columns/2 - 3);
	@include box-shadow;
	min-height:300px;
	@include append-bottom(2);
}
#header h1 {
	padding-left: 1em;
}
#FollowOnTwitter{
	vertical-align:bottom;
	height:24px;
}