.content
    %h3 About SwampCrash
    %h6 How To Play
    .error
        %h6 TL;DR
        %ul
            %li Answer questions
            %li If you answer the question CORRECTLY, you will receive one point for EVERY OTHER PLAYER WITH THE SAME ANSWER
            %li If you answer the question INCORRECTLY, you will receive 5 MORE points than the HIGHEST other score for the game 
            %li Goal is to get the lowest score wrong.
    .notice 
        %p Every SwampCrash has questions.  Your goal is to guess the right answer.  Simple right?
        %p Well here's the catch.  You get points for each question you get right.
        %p You get a point based on how many other people also guessed your answer.
        %p If you are wrong, you get a penalty of 5 points MORE than the highest scoring correct answer
        %p The goal is to have the lowest score
        %p So you not only want to get the question right, but you want to guess the question that the LEAST number of people also guess.

.content
    %h6 History
    %ul
        %li Inspired from <a href="http://www.sportsfrog.com/swamp/">the Swamp</a> at the <a href="http://www.sportsfrog.com">SportsFrog</a>
        %li Version 1.0 hacked together in March/April 2011
