%h3 About SwampCrash
%h4 How To Play
.todo Fill in details on how to play here

%h4 History
%ul
  %li Inspired from <a href="http://www.sportsfrog.com/swamp/">the Swamp</a> at the <a href="http://www.sportsfrog.com">SportsFrog</a>
  %li Version 1.0 hacked together in March/April 2011
