.row
  %h1 About SwampCrash
  %h2 How To Play
  .alert.alert-info
    %h3 TL;DR
    %ul.icons
      %li
        %i.icon-ok
        Answer questions
      %li
        %i.icon-ok
        If you answer the question CORRECTLY, you will receive one point for EVERY OTHER PLAYER WITH THE SAME ANSWER
      %li
        %i.icon-ok
        If you answer the question INCORRECTLY, you will receive 5 MORE points than the HIGHEST other score for the game 
      %li
        %i.icon-ok
        Goal is to get the lowest score wrong.
        
.row
  .well
    %p Every SwampCrash has questions.  Your goal is to guess the right answer.  Simple right?
    %p Well here's the catch.  You get points for each question you get right.
    %p You get a point based on how many other people also guessed your answer.
    %p If you are wrong, you get a penalty of 5 points MORE than the highest scoring correct answer
    %p The goal is to have the lowest score
    %p So you not only want to get the question right, but you want to guess the question that the LEAST number of people also guess.

.row
  %h2 Frequently Asked Questions
  %dl
    %dt
      %i.icon-question-sign
      Can I use Google
    %dd I say no.  But if everyone in the crash is using it, it adds an interesting bit of strategy
    %dt
      %i.icon-question-sign
      Where is the source code
    %dd It is available at <a href="https://github.com/robdimarco/SwampCrash">https://github.com/robdimarco/SwampCrash</a>

.row
  %h2 History
  %p Inspired from <a href="http://www.sportsfrog.com/swamp/">the Swamp</a> at the <a href="http://www.sportsfrog.com">SportsFrog</a>
  %p Version 1.0 hacked together in March/April 2011
  %p Version 1.1 hacked on December 2012
