<h3>About SwampCrash</h3>
<h4>How To Play</h4>
f
<h4>History</h4>
<ul>
	<li>Inspired from <a href="http://www.sportsfrog.com/swamp/">the Swamp</a> at the <a href="http://www.sportsfrog.com">SportsFrog</a></li>
	<li>Version 1.0 hacked together in March/April 2011</li>
</ul>