.content
    %h1 Current Open Issues
    %ul
        - JSON.parse(Net::HTTP.get(URI.parse("http://github.com/api/v2/json/issues/list/robdimarco/SwampCrash/open")))["issues"].each do |i|
            %li= link_to i["title"], i["html_url"]