.content
    %h1 Crash Answers
    %ul
        %li Big reveal
        %li Be able to ask for clarification (email to owner)
    %h1 Crash Creator
    %ul
        %li Users Can Create Their Own Quizzes
        %li Group Creation
        %li Easy grading answer sheets
    %h1 Admin/General
    %ul
        %li Expand on the "How To Play"
        %li Make clear what quizzes are active