- require 'net/https'
- uri = URI.parse("https://api.github.com/repos/robdimarco/SwampCrash/issues")
- http = Net::HTTP.new(uri.host, uri.port); http.use_ssl = true; http.verify_mode = OpenSSL::SSL::VERIFY_NONE
- rsp  = http.request(Net::HTTP::Get.new(uri.request_uri))
.content
  %h1 Current Open Issues
  %ul
    - JSON.parse(rsp.body).each do |i|
      %li= link_to i["title"], i["html_url"]