.content
    %h1 Crash Answers
    %ul
        %li Big reveal
        %li Be able to ask for clarification (email to owner?)
        %li Notify owner when submissions happen
    %h1 Crash Creator
    %ul
        %li Users Can Create Their Own Quizzes
        %li Group Creation
    %h1 Admin/General
    %ul
        %li Expand on the "How To Play"
        %li Make clear what quizzes are active
    %h1 Noah Suggestions
    %ul
        %li history
        %li season scoring/leader boards
        %li invites
        %li contest status
        %li start timer (i.e. you only have 5 minutes to complete the crash...anti-google feature)